name: Compile Backend

on:
  push:
  pull_request:

jobs:
  build:
    name: Compile Java Project
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Compile Backend
        working-directory: app
        run: mvn clean compile
